<a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<!-- Start Header -->
<app-header></app-header>
<!-- End Header Area  -->

<main class="main-wrapper">

    <!-- Start Slider Area -->
    <div class="axil-main-slider-area main-slider-style-2 main-slider-style-8">
        <div class="container">
            <div class="slider-offset-left">
                <div class="row row--20">
                    <div class="col-lg-9">
                        <div class="slider-box-wrap">
                            <div class="slider-activation-one axil-slick-dots">

                                <ng-container *ngFor="let slider of sliders">
                                    <div class="single-slide slick-slide">
                                        <div class="main-slider-content">
                                            <span class="subtitle"><i class="fal fa-badge-percent"></i> Mega Deal</span>
                                            <h1 class="title">{{slider.title}}</h1>
                                            <div class="shop-btn" *ngIf="slider.link">
                                                <a [href]="slider.link" class="axil-btn">¡AQUÍ! <i
                                                        class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="main-slider-thumb">
                                            <img [src]="slider.imagen_home" alt="Product">
                                        </div>
                                    </div>

                                </ng-container>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="slider-product-box">
                            <div class="product-thumb">
                                <a href="single-product.html">
                                    <img src="assets/images/product/product-41.png" alt="Product">
                                </a>
                            </div>
                            <h6 class="title"><a href="single-product.html">Stylish Leather Bag</a></h6>
                            <span class="price">$29.99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->

    <!-- Start Flash Sale Area  -->
    <div class="axil-new-arrivals-product-area fullwidth-container flash-sale-area bg-color-white axil-section-gap pb--0" *ngIf="FlashSale">
        <div class="container ml--xxl-0">
            <div class="product-area pb--50">
                <div class="d-md-flex align-items-end flash-sale-section">
                    <div class="section-title-wrapper">
                        <span class="title-highlighter highlighter-primary"><i class="fas fa-fire"></i> Today's</span>
                        <h2 class="title">Ventas Flash</h2>
                    </div>
                    <div class="sale-countdown countdown"></div>
                </div>
                <div class="new-arrivals-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">

                    <ng-container *ngFor="let product of FlashProductList">
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-four">
                                <div class="thumbnail">
                                    <a [routerLink]="['/landing-producto/',product.slug]" [queryParams]="{_id: FlashSale._id}">
                                        <img style="width: 250px; height: 250px;object-fit: cover;" data-sal="zoom-out" data-sal-delay="100" data-sal-duration="1500"
                                            [src]="product.imagen" alt="Product Images">
                                    </a>
                                    <div class="label-block label-right" *ngIf="FlashSale.type_discount == 1">
                                        <div class="product-badget">{{ FlashSale.discount}}% OFF</div>
                                    </div>
                                    <div class="label-block label-right" *ngIf="FlashSale.type_discount == 2">
                                        <div class="product-badget">{{ FlashSale.discount}} USD OFF</div>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a>
                                            </li>
                                            <li class="select-option"><a href="#" onclick="return false;" (click)="addCart(product,1)">Add to Cart</a></li>
                                            <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#quick-view-modal" (click)="openModal(product, FlashSale)"><i class="far fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <h5 class="title"><a [routerLink]="['landing-producto/',product.slug]" [queryParams]="{_id: FlashSale._id}">{{product.title}}</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price old-price">{{product.price_usd}} USD</span>
                                            <span class="price current-price">{{getCalNewPrice(product)}} USD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .slick-single-layout -->

                    </ng-container>

                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Flash Sale Area  -->

    <!-- Start Categorie Area  -->
    <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i class="far fa-tags"></i> Categorias</span>
                <h2 class="title">Navega por Categoria</h2>
            </div>
            <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide">

                <ng-container *ngFor="let categorie of categories">

                    <div class="slick-single-layout">
                        <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                            <a href="#">
                                <img class="img-fluid" [src]="categorie.imagen_home" alt="product categorie">
                                <h6 class="cat-title">{{categorie.title}}</h6>
                            </a>
                        </div>
                    </div>
                </ng-container>


            </div>
        </div>
    </div>
    <!-- End Categorie Area  -->

    <!-- Start Best Sellers Product Area  -->
    <div class="axil-best-seller-product-area bg-color-white axil-section-gap pt--0">
        <div class="container">
            <div class="product-area pb--50">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i>Este mes</span>
                    <h2 class="title">Productos Mejores Vendidos</h2>
                </div>
                <div
                    class="new-arrivals-product-activation-2 slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide product-slide-mobile">

                    <ng-container *ngFor="let best of bestProducts">
                        <div class="slick-single-layout">
                            <div class="axil-product product-style-three">
                                <div class="thumbnail">
                                    <a [routerLink]="['landing-producto/',best.slug]" [queryParams]="getRouterDiscount(best)">
                                        <img style="width: 255px; height: 255px; object-fit: cover;" data-sal="fade"
                                            data-sal-delay="100" data-sal-duration="1500" [src]="best.imagen"
                                            alt="Product Images">
                                    </a>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="wishlist"><a href="wishlist.html"><i
                                                        class="far fa-heart"></i></a>
                                            </li>
                                            <li class="select-option"><a onclick="return false;" (click)="addCart(best)">Add to Cart</a></li>
                                            <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#quick-view-modal" (click)="openModal(best)"><i
                                                        class="far fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="label-block label-right">
                                        <div class="product-badget" *ngIf="best.campaing_discount.type_discount == 1">{{best.campaing_discount.discount}}% Off</div>
                                        <div class="product-badget" *ngIf="best.campaing_discount.type_discount == 2">-{{best.campaing_discount.discount}} USD OFF</div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="inner">
                                        <div class="product-rating">
                                            <span class="icon">
                                                <i class="fas fa-star" [ngClass]="{'start-del':best.avg_review<1}"></i>
                                                <i class="fas fa-star" [ngClass]="{'start-del':best.avg_review<2}"></i>
                                                <i class="fas fa-star" [ngClass]="{'start-del':best.avg_review<3}"></i>
                                                <i class="fas fa-star" [ngClass]="{'start-del':best.avg_review<4}"></i>
                                                <i class="fas fa-star" [ngClass]="{'start-del':best.avg_review<5}"></i>
                                            </span>
                                            <span class="rating-number">({{best.count_review}})</span>
                                        </div>
                                        <h5 class="title"><a [routerLink]="['landing-producto/',best.slug]" [queryParams]="getRouterDiscount(best)">{{best.title}}</a></h5>
                                        <div class="product-price-variant">
                                            <span class="price current-price">{{best.price_usd - getDiscountProduct(best)}} USD</span>
                                            <span class="price old-price" *ngIf="best.campaing_discount">${{best.price_usd}} USD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>


                </div>
            </div>
        </div>
    </div>
    <!-- End  Best Sellers Product Area  -->

    <!-- Poster Countdown Area  -->
    <div class="axil-poster-countdown">
        <div class="container">
            <div class="poster-countdown-wrap bg-lighter">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="poster-countdown-content">
                            <div class="section-title-wrapper">
                                <span class="title-highlighter highlighter-secondary"> <i
                                        class="fal fa-headphones-alt"></i> Don’t
                                    Miss!!</span>
                                <h2 class="title">Enhance Your Music Experience</h2>
                            </div>
                            <div class="poster-countdown countdown mb--40"></div>
                            <a href="#" class="axil-btn btn-bg-primary">Check it Out!</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="poster-countdown-thumbnail">
                            <img src="./assets/images/product/poster/poster-03.png" alt="Poster Product">
                            <div class="music-singnal">
                                <div class="item-circle circle-1"></div>
                                <div class="item-circle circle-2"></div>
                                <div class="item-circle circle-3"></div>
                                <div class="item-circle circle-4"></div>
                                <div class="item-circle circle-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Poster Countdown Area  -->

    <!-- Start Expolre Product Area  -->
    <div class="axil-product-area bg-color-white axil-section-gap">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"> <i class="fal fa-store"></i> Our Products</span>
                <h2 class="title">Explora nuestros Productos</h2>
            </div>
            <div
                class="explore-product-activation slick-layout-wrapper slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout">
                    <div class="row row--15">

                        <ng-container *ngFor="let our_product of ourProducts">

                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                <div class="axil-product product-style-one">
                                    <div class="thumbnail">
                                        <a [routerLink]="['landing-producto/',our_product.slug]">
                                            <img style="width: 250px;height: 250px; object-fit: cover;"
                                                data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800"
                                                class="main-img" [src]="our_product.imagen" alt="Product Images">
                                            <img style="width: 290px;" class="hover-img" [src]="our_product.imagen_two"
                                                alt="Product Images">
                                            <!-- <img class="hover-img" [src]="showImagen(our_product)"
                                                alt="Product Images"> -->
                                        </a>
                                        <div class="label-block label-right">
                                            <div class="product-badget" *ngIf="our_product.campaing_discount.type_discount == 1">{{our_product.campaing_discount.discount}}% Off</div>
                                            <div class="product-badget" *ngIf="our_product.campaing_discount.type_discount == 2">-{{our_product.campaing_discount.discount}} USD OFF</div>
                                        </div>
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                            class="far fa-heart"></i></a></li>
                                                <li class="select-option">
                                                    <a onclick="return false;" (click)="addCart(our_product)">
                                                        Add to Cart
                                                    </a>
                                                </li>

                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#quick-view-modal"
                                                        (click)="openModal(our_product)"><i class="far fa-eye"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner">
                                            <div class="product-rating">
                                                <span class="icon">
                                                    <i class="fas fa-star" [ngClass]="{'start-del':our_product.avg_review<1}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':our_product.avg_review<2}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':our_product.avg_review<3}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':our_product.avg_review<4}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':our_product.avg_review<5}"></i>
                                                </span>
                                                <span class="rating-number">({{our_product.count_review}})</span>
                                            </div> 
                                            <h5 class="title"><a [routerLink]="['landing-producto/',our_product.slug]">{{our_product.title}}</a>
                                            </h5>
                                            <div class="product-price-variant">
                                                <span class="price current-price">{{our_product.price_usd - getDiscountProduct(our_product)}} USD</span>
                                            <span class="price old-price" *ngIf="our_product.campaing_discount">${{our_product.price_usd}} USD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>


                    </div>
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout">
                    <div class="row row--15">

                        <ng-container *ngFor="let bestproduct of bestProducts">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb--30">
                                <div class="axil-product product-style-one">
                                    <div class="thumbnail">
                                        <a [routerLink]="['landing-producto/',bestproduct.slug]">
                                            <img style="width: 250px;height: 250px;object-fit: cover"
                                                data-sal="zoom-out" data-sal-delay="200" data-sal-duration="800"
                                                class="main-img" [src]="bestproduct.imagen" alt="Product Images">
                                            <img style="width: 250px;height: 250px;object-fit: cover" class="hover-img"
                                                [src]="bestproduct.imagen_two" alt="Product Images">
                                        </a>
                                        <!-- <div class="label-block label-right">
                                            <div class="product-badget">20% Off</div>
                                        </div> -->
                                        <div class="product-hover-action">
                                            <ul class="cart-action">
                                                <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#quick-view-modal"
                                                        (click)="openModal(bestproduct)"><i class="far fa-eye"></i></a>
                                                </li>
                                                <li class="select-option">
                                                    <a onclick="return false;" (click)="addCart(bestproduct)">
                                                        Add to Cart
                                                    </a>
                                                </li>
                                                <li class="wishlist"><a href="wishlist.html"><i
                                                            class="far fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="inner">
                                            <div class="product-rating">
                                                <span class="icon">
                                                    <i class="fas fa-star" [ngClass]="{'start-del':bestproduct.avg_review<1}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':bestproduct.avg_review<2}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':bestproduct.avg_review<3}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':bestproduct.avg_review<4}"></i>
                                                    <i class="fas fa-star" [ngClass]="{'start-del':bestproduct.avg_review<5}"></i>
                                                </span>
                                                <span class="rating-number">({{bestproduct.count_review}})</span>
                                            </div>
                                            <h5 class="title"><a [routerLink]="['landing-producto/',bestproduct.slug]">{{bestproduct.title}}</a>
                                            </h5>
                                            <div class="product-price-variant">
                                                <span class="price current-price">{{bestproduct.price_usd}} USD</span>
                                                <!-- <span class="price old-price">$49.99</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>
                <!-- End .slick-single-layout -->
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt--20 mt_sm--0">
                    <a href="shop.html" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Expolre Product Area  -->

    <!-- Start Testimonila Area  -->
    <div class="axil-testimoial-area axil-section-gap bg-vista-white">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"> <i
                        class="fal fa-quote-left"></i>Testimonials</span>
                <h2 class="title">Users Feedback</h2>
            </div>
            <!-- End .section-title -->
            <div
                class="testimonial-slick-activation testimonial-style-one-wrapper slick-layout-wrapper--20 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ It’s amazing how much easier it has been to
                            meet new people and create instantly non
                            connections. I have the exact same personal
                            the only thing that has changed is my mind
                            set and a few behaviors. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="./assets/images/testimonial/image-1.png" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">James C. Anderson</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ It’s amazing how much easier it has been to
                            meet new people and create instantly non
                            connections. I have the exact same personal
                            the only thing that has changed is my mind
                            set and a few behaviors. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="./assets/images/testimonial/image-2.png" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">James C. Anderson</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ It’s amazing how much easier it has been to
                            meet new people and create instantly non
                            connections. I have the exact same personal
                            the only thing that has changed is my mind
                            set and a few behaviors. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="./assets/images/testimonial/image-3.png" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">James C. Anderson</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->
                <div class="slick-single-layout testimonial-style-one">
                    <div class="review-speech">
                        <p>“ It’s amazing how much easier it has been to
                            meet new people and create instantly non
                            connections. I have the exact same personal
                            the only thing that has changed is my mind
                            set and a few behaviors. “</p>
                    </div>
                    <div class="media">
                        <div class="thumbnail">
                            <img src="./assets/images/testimonial/image-2.png" alt="testimonial image">
                        </div>
                        <div class="media-body">
                            <span class="designation">Head Of Idea</span>
                            <h6 class="title">James C. Anderson</h6>
                        </div>
                    </div>
                    <!-- End .thumbnail -->
                </div>
                <!-- End .slick-single-layout -->

            </div>
        </div>
    </div>
    <!-- End Testimonila Area  -->

    <!-- Start New Arrivals Product Area  -->
    <div class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--50">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> This
                    Week’s</span>
                <h2 class="title">New Arrivals</h2>
            </div>
            <div class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow  arrow-top-slide">

                <ng-container *ngFor="let bestproduct of bestProducts">
                    <div class="slick-single-layout">
                        <div class="axil-product product-style-two has-color-pick">
                            <div class="thumbnail">
                                <a [routerLink]="['landing-producto/',bestproduct.slug]">
                                    <img style="widows: 250px; height: 250px; object-fit: cover;" data-sal="fade"
                                        data-sal-delay="100" data-sal-duration="1500" [src]="bestproduct.imagen"
                                        alt="Product Images">
                                </a>
                                <!-- <div class="label-block label-right">
                                    <div class="product-badget">50% OFF</div>
                                </div> -->
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <div class="color-variant-wrapper">
                                        <ul class="color-variant">
                                            <li class="color-extra-01 active"><span><span class="color"></span></span>
                                            </li>
                                            <li class="color-extra-02"><span><span class="color"></span></span>
                                            </li>
                                            <li class="color-extra-03"><span><span class="color"></span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="title"><a [routerLink]="['landing-producto/',bestproduct.slug]">{{bestproduct.title}}</a></h5>
                                    <div class="product-price-variant">
                                        <!-- <span class="price old-price">$50</span> -->
                                        <span class="price current-price">{{bestproduct.price_usd}} USD</span>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul class="cart-action justify-content-center">
                                        <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a>
                                        </li>
                                        <li class="select-option"><a href="#" onclick="return false;" (click)="addCart(bestproduct)">Add to Cart</a></li>
                                        <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view-modal" (click)="openModal(bestproduct)"><i
                                                    class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>

            </div>
        </div>
    </div>
    <!-- End New Arrivals Product Area  -->

    <!-- Start Axil Newsletter Area  -->
    <div class="axil-newsletter-area axil-section-gap pt--0">
        <div class="container">
            <div class="etrade-newsletter-wrapper bg_image bg_image--12">
                <div class="newsletter-content">
                    <span class="title-highlighter highlighter-primary2"><i
                            class="fas fa-envelope-open"></i>Newsletter</span>
                    <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                    <div class="input-group newsletter-form">
                        <div class="position-relative newsletter-inner mb--15">
                            <input placeholder="example@gmail.com" type="text">
                        </div>
                        <button type="submit" class="axil-btn mb--15">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .container -->
    </div>
    <!-- End Axil Newsletter Area  -->

</main>


<div class="service-area">
    <div class="container">
        <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="./assets/images/icons/service1.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                        <p>Tell about your service.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="./assets/images/icons/service2.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Money Back Guarantee</h6>
                        <p>Within 10 days.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="./assets/images/icons/service3.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">24 Hour Return Policy</h6>
                        <p>No question ask.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img src="./assets/images/icons/service4.png" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Pro Quality Support</h6>
                        <p>24/7 Live support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Footer Area  -->
<app-footer></app-footer>
<!-- End Footer Area  -->

<!-- Product Quick View Modal Start -->
<div class="modal fade quick-view-product" id="quick-view-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="far fa-times"></i></button>
            </div>
            <div class="modal-body" *ngIf="product_selected">
                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div
                                        class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">

                                        <ng-container *ngFor="let galeria of product_selected.galerias">
                                            <div class="thumbnail">
                                                <img [src]="galeria.imagen" alt="Product Images">

                                                <ng-container  *ngIf="product_selected.FlashSale">
                                                    <div class="label-block label-right" *ngIf="product_selected.FlashSale.type_discount == 1">
                                                        <div class="product-badget">{{product_selected.FlashSale.discount}}% OFF</div>
                                                    </div>
                                                    <div class="label-block label-right" *ngIf="product_selected.FlashSale.type_discount == 2">
                                                        <div class="product-badget">{{product_selected.FlashSale.discount}} USD OFF</div>
                                                    </div>
                                                </ng-container>

                                                <div class="product-quick-view position-view">
                                                    <a [href]="galeria.imagen" class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </ng-container>

                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb small-thumb-wrapper">
                                        <ng-container *ngFor="let galeria of product_selected.galerias">
                                            <div class="small-thumb-img">
                                                <img [src]="galeria.imagen" alt="thumb image">
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <img [src]="product_selected.imagen" alt="Rate Images">
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>1</span> customer reviews)</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title">{{product_selected.title}}</h3>
                                    <span class="price-amount"*ngIf="!product_selected.FlashSale">{{product_selected.price_usd}} USD</span>
                                    <span class="price-amount"*ngIf="product_selected.FlashSale"><del>{{product_selected.price_usd}} USD</del></span>
                                    <span class="price-amount"*ngIf="product_selected.FlashSale">{{getCalNewPrice(product_selected)}} USD</span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>In stock</li>
                                        <li><i class="fal fa-check"></i>Free delivery available</li>
                                        <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                    </ul>
                                    <p class="description">{{product_selected.resumen}}</p>

                                    <div class="product-variations-wrapper">

                                        <!-- Start Product Variation  -->
                                        <!-- <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
                                                    <li class="color-extra-01 active"><span><span
                                                                class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-02"><span><span class="color"></span></span>
                                                    </li>
                                                    <li class="color-extra-03"><span><span class="color"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> -->
                                        <!-- End Product Variation  -->

                                        <!-- Start Product Variation  -->
                                        <div class="product-variation" *ngIf="product_selected.type_inventario == 2">
                                            <h6 class="title">Tamaños:</h6>
                                            <ul class="range-variant">

                                                <ng-container *ngFor="let variedad of product_selected.variedades">
                                                    <li>{{variedad.valor}}</li>
                                                </ng-container>

                                            </ul>
                                        </div>
                                        <!-- End Product Variation  -->

                                    </div>

                                    <!-- Start Product Action Wrapper  -->
                                    <div class="product-action-wrapper d-flex-center">
                                        <!-- Start Quentity Action  -->
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                        <!-- End Quentity Action  -->

                                        <!-- Start Product Action  -->
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart"><a href="cart.html"
                                                    class="axil-btn btn-bg-primary">Add to Cart</a></li>
                                            <li class="wishlist"><a href="wishlist.html"
                                                    class="axil-btn wishlist-btn"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <!-- End Product Action  -->

                                    </div>
                                    <!-- End Product Action Wrapper  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Quick View Modal End -->

